{% if all_spending_list %}
<a href="/add_spend/"> add_spending</a>
<a href="/vendors/"> vendors</a>
<a href="/categories/"> categories</a>
    <table>
        <th>
             Item
            </th>
                  <th>
             Date
            </th>
                  <th>
             Price
            </th>
                  <th>
             Store
            </th>
                   <th>
             Category
            </th>
                  <th>
             Delete?
            </th>
    {% for spending in all_spending_list %}
        <tr>
        	<td><a href="/edit_spend/{{ spending.id }}/">{{ spending.spend_desc }}</a></td>
        	<td>
        		{{spending.spend_date}}
        	</td>
        	<td>
        		{{spending.spend_amt}}
        	</td>
        	<td>
        		{{spending.spend_vendor}}
        	</td>
        	<td>
        		{{spending.spend_cat}}
        	</td>

            <td>
                <a href="/delete_spend/{{spending.id}}">
                    X
                </a>
            </td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <p>Nothing spent.</p>
{% endif %}